/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* inika-regular - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inika-v21-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inika-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inika-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inika-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inika-v21-latin-regular.svg#Inika') format('svg'); /* Legacy iOS */
  }
  /* inika-700 - latin */
  @font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inika-v21-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inika-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inika-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inika-v21-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inika-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inika-v21-latin-700.svg#Inika') format('svg'); /* Legacy iOS */
  }
html{
    box-sizing: border-box;
}
*, *::before, * ::after{
    box-sizing: inherit;
}

body{
    font-family:'Inika';
    font-style: normal;
    font-size: 16px;
    line-height: 50px;
    font-weight: normal;
    color: #010201;
}


/* Header styles start */

.header{
    background-color: #EDF2EC;
    position: absolute;
    height: 134px;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 42px;
}


.logo__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--black-color);
    text-decoration: none;
}
.logo__text:hover, .logo__text:focus, .logo__text:active{
    opacity: .75;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 112px;
}

.wrapper{
    max-width: 1060px;
    margin: auto;
}

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 42px;
}

.header__list{
    display: flex;
    flex-wrap: wrap;
}

.header__item{
    margin-right: 46px;
}
.header__item:last-child{
    margin-right: 0;
}

.header__link__home{
    font-size: 16px;
    line-height: 50px;
    color: #E06733;
    text-decoration: none;
}

.header__link{
    font-size: 16px;
    line-height: 50px;
    color: #010201;
    text-decoration: none;
}


.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
}

.header__link__home:hover, .header__link__home:focus, .header__link__home:active{
    opacity: .75;
}

/* Header styles end */


/* Welcome styles start */
.welcome{
    background-color: #EDF2EC;
    padding-top: 182px;
    position: absolute;
    width: 100%;
    height: 532px;
    left: 0px;
    top: 134px;
    padding: 48px;
}

.intro__title{
    position: absolute;
    width: 549px;
    height: 101px;
    left: 782px;
    top: 98px;
    font-family: "Inter";
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}

.green-color{
    color: #499A18;
}

.welcome__intro{
    position: absolute;
width: 525.44px;
height: 105px;
left: 782px;
top: 241px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 35px;
}

.lrn__sub{
    position: absolute;
    width: 158px;
    height: 44px;
    left: 782px;
    top: 394px;
    border: 2px solid #E06733;
    border-radius: 10px;
    background-color: #EDF2EC;   
}

.sub__text{
    font-size: 16px;
    line-height: 20px;
}

.lrn__sub:hover, .lrn__sub:focus, .lrn__sub:active{
    background-color: #E06733;
    color: white;
}
/* Welcome styles end */

/* About styles start */

.about{
    position: absolute;
    width: 1440px;
    height: 666px;
    left: 0px;
    top: 666px;
    background: #FFFFFF;
}

.about__title{
    position: absolute;
    width: 463px;
    height: 102px;
    left: 109px;
    top: 161px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.brown-color{
    color: #E06733;
}

.about__text{
    position: absolute;
    width: 605px;
    height: 208px;
    left: 109px;
    top: 303px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

.plants__about{
    position: absolute;
    width: 464px;
    height: 479px;
    left: 867px;
    top: 93px;
}
/*About styles end */

/*service styles start */

.service{
    position: absolute;
    width: 1510px;
    height: 1300px;
    left: 0px;
    top: 1332px;
    background: #EDF2EC;
}

.service__title{
    position: absolute;
    width: 306px;
    height: 94px;
    left: 109px;
    top: 40px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.garden__btn{
    position: absolute;
    width: 161px;
    height: 50px;
    left: 557px;
    top: 69px;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: #EDF2EC;
}

.grd__text{
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
}

.garden__btn:hover, .garden__btn:focus, .garden__btn:active{
    background-color: #E06733;
    color: white;
}

.lawn__btn{
    position: absolute;
    width: 161px;
    height: 50px;
    left: 756px;
    top: 69px;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: #EDF2EC;
}

.lwn__text{
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
}

.lawn__btn:hover, .lawn__btn:focus, .lawn__btn:active{
    background-color: #E06733;
    color: white;
}

.planting__btn{
    position: absolute;
    width: 161px;
    height: 50px;
    left: 955px;
    top: 69px;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: #EDF2EC;
}

.plt__text{
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
}

.planting__btn:hover, .planting__btn:focus, .planting__btn:active{
    background-color: #E06733;
    color: white;
}

.first__item__img{
    position: absolute;
    width: 329px;
    height: 350px;
    left: 110px;
    top: 224px;
    border-radius: 20px 20px 0px 0px;
    
}

.item__title{
    position: absolute;
    width: 120px;
    height: 24px;
    left: 214px;
    top: 584px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Inter';
    color: #E06733;
}

.item__text{
    position: absolute;
    width: 267.19px;
    height: 20px;
    left: 139.91px;
    top: 618px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Inter';
    color: #717171;
}

.second__item__img{
    position: absolute;
    width: 329px;
    height: 350px;
    left: 556px;
    top: 224px;
    border-radius: 20px 20px 0px 0px;
}

.second__item__title{
    position: absolute;
    width: 90px;
    height: 24px;
    left: 676px;
    top: 584px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    font-family: 'Inter';
     color: #E06733;
}

.second__item__text{
    position: absolute;
    width: 267.19px;
    height: 20px;
    left: 585.91px;
    top: 618px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Inter';
    color: #717171;
}

.third__item__img{
    position: absolute;
    width: 329px;
    height: 350px;
    left: 1002px;
    top: 224px;
    border-radius: 20px 20px 0px 0px;
}

.third__item__title{
    position: absolute;
    width: 104px;
    height: 24px;
    left: 1114px;
    top: 584px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
}

.third__item__text{
    position: absolute;
    width: 267.19px;
    height: 20px;
    left: 1031.91px;
    top: 618px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
}

.fourth__item__img{
    position: absolute;
    width: 329px;
    height: 350px;
    left: 110px;
    top: 729px;
    border-radius: 20px 20px 0px 0px;
}

.fourth__item__title{
    position: absolute;
    width: 90px;
    height: 24px;
    left: 229px;
    top: 1089px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
}

.fourth__item__text{
    position: absolute;
    width: 267.19px;
    height: 20px;
    left: 139.91px;
    top: 1123px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
}

.fifth__item__img{
    position: absolute;
    width: 329px;
    height: 350px;
    left: 556px;
    top: 729px;
    border-radius: 20px 20px 0px 0px;
}

.fifth__item__title{
    position: absolute;
    width: 120px;
    height: 24px;
    left: 660px;
    top: 1089px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
}

.fifth__item__text{
    position: absolute;
    width: 267.19px;
    height: 20px;
    left: 585.91px;
    top: 1123px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
}

.sixth__item__img{
    position: absolute;
    width: 329px;
    height: 350px;
    left: 1002px;
    top: 729px;
    border-radius: 20px 20px 0px 0px;
}

.sixth__item__title{
    position: absolute;
    width: 90px;
    height: 24px;
    left: 1121px;
    top: 1089px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
}

.sixth__item__text{
    position: absolute;
    width: 267.19px;
    height: 20px;
    left: 1031.91px;
    top: 1123px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
}